<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "_Layout";
}

<table class="table">
    <tr>
        <td>Описание пред-метной области:</td>
        <td>
            1. Виды работ (лицензия (дата, номер, срок действия), номер в едином классификаторе).<br>
            2. Основные объекты (наименование объекта, заказчик, генподрядчик, дата заключения договора, перечень выполняемых работ, дата сдачи объекта, дата ввода в эксплуатацию, фотографии объекта).<br>
            3. Используемые строительные материалы (наименование, производитель, объемы закупки, дата и номер сертификата, фотографии из каталога).<br>
            4. Услуги (расценки на основные типы работ, размер предоставляемой скидки, ставка налога).
        </td>
    </tr>
    <tr>
        <td>Дополнительные требования к отображению данных:</td>
        <td>
            1. Техническая оснащенность стройподрядчика (наименование и основное назначение техники и оборудования, их дата приобретения, срок эксплуатации).<br>
            2. Склад (наименование материала, дата выпуска, количество, срок годности, стоимость, поставщик).<br>
            3. Объемы планируемых работ (наименование объекта, заказчик, генподрядчик, дата заключения договора, перечень выполняемых работ, дата сдачи объекта, дата ввода объекта в эксплуатацию).
        </td>
    </tr>
</table>